body {
  margin: 20px;
  color: #beb8ddf2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.img-profile {
  width: 150px;
  border-radius: 20px;
}

@keyframes card-entry {
  0% {
    transform: scale(0.25);
  }
  25% {
    transform: scale(1.75);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.card {
  background-color: #4c4e53;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: space-around;

  box-shadow: 10px 10px 5px #3a5a4091;

  border-radius: 20px;
  border: 6px solid #3a5a40;

  animation: card-entry 4s;
}

.text-hover {
  --c: #1095c1; /* the color */
  --b: 0.1em; /* border length*/
  --d: 20px; /* the cube depth */

  --_s: calc(var(--d) + var(--b));

  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(
        at left var(--d) bottom var(--d),
        #0000 90deg,
        rgb(255 255 255 /0.3) 0 225deg,
        rgb(255 255 255 /0.6) 0
      )
      border-box,
    conic-gradient(at left var(--_s) bottom var(--_s), #0000 90deg, var(--c) 0)
      0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.5s;
}
.text-hover:hover {
  transform: translate(0, 0);
  clip-path: polygon(
    0% var(--d),
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    calc(100% - var(--d)) 100%,
    0% 100%
  );
}
.italic {
  font-style: italic;
}

.border-dotted {
  border: 4px dotted violet;
}

.card-column {
  padding: 0 10px;
}
